@font-face{
  font-family: liu-thin;
  src: url(../fonts/KorolevLiU-Thin.woff);
}

@font-face {
  font-family: liu-light;
  src: url(../fonts/KorolevLiU-Light.woff);
}
@font-face{
  font-family: liu-medium;
  src: url(../fonts/KorolevLiU-Medium.woff);
}
@font-face{
  font-family: liu-bold;
  src: url(../fonts/KorolevLiU-Bold.woff);
}

h1,h2{
  font-family: liu-bold;
}

h3{
  font-family: liu-medium;
}

p{
  font-family: liu-light;
}

input{
  font-family: liu-light;
  width: 50%;
}

Body {
  background-color: #00B3E7;
}
.parent{
  margin: -2%;
  padding: -2%;
}
.LogoTextBox{
  color: #FFFFFF;
  margin-top: 25%;
  text-align: center;
}

.houseChoice{
  display: flex;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 5em;
}

.houseOne{
  margin:auto;
}

.houseTwo{
  margin:auto;
}

.houseImg{
  margin:auto;
  width: 50%;
  height: auto;
  display: table-row;
}

.mapImg{
  margin: auto;
  margin-top: 2em; 
  width: 25%;
  height: auto;
  display: table-row;
}

.mapImg:hover{
  width: 30%;
}

.HouseLink:link, .HouseLink:visited{
  text-decoration: none;
  color:#FFFFFF;
}
.SearchBar{
  
}
.searchResults {
  overflow-y: scroll;
  height: 35em;
}

.topBar{
  display: flex;
  margin: 1em;
  vertical-align: auto;
}

.searchResults{
  padding: 0;
  margin: 0;
  width: 100%;
}
.resultLink:link, .resultLink:visited{
  text-decoration: none;
  color:black;
}
.resultLink:hover, .resultLink:active{
  color: #ababab;
}
.singleSearchResult{
  list-style-type: none;
  background: #C7E9F2;
  padding: 1vw;
}

.singleSearchResult:nth-child(odd){
  background: #CCF0FA; 
}

.selectedRoom{
  background: #C7E9F2;
  padding: 1vw;
}