@font-face{
  font-family: liu-thin;
  src: url(../fonts/KorolevLiU-Thin.woff);
}

@font-face {
  font-family: liu-light;
  src: url(../fonts/KorolevLiU-Light.woff);
}
@font-face{
  font-family: liu-medium;
  src: url(../fonts/KorolevLiU-Medium.woff);
}
@font-face{
  font-family: liu-bold;
  src: url(../fonts/KorolevLiU-Bold.woff);
}

html, body {margin: 0; height: 100%; overflow: hidden}

h1,h2{
  font-family: liu-bold;
}

h3{
  font-family: liu-medium;
}

p{
  font-family: liu-light;
}

input{
  font-family: liu-light;
  border-radius: 15px;
  border: 2px solid gray;
}

input[type=text] {
  padding: 12px 40px;
  box-sizing: border-box;
}
/*Slider CSS*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C7E9F2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3DD2DC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFFFFF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

Body {
  background-color: #00B3E7;
}
.parent{
  margin: -2%;
  padding: -2%;
}
.LogoTextBox{
  color: #FFFFFF;
  margin-top: 40%;
  text-align: center;
}

.houseChoice{
  display: flex;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 5em;
}

.houseOne{
  margin:auto;
}

.houseTwo{
  margin:auto;
}

.houseImg{
  margin: auto;
  width: 60%;
  height: auto;
  display: table-row;
  border: 6px solid white;
  border-radius: 0.5em;
}

.mapImg{
  margin: auto;
  margin-top: 2em; 
  width: 30%;
  height: auto;
  display: table-row;
}

.mapImg:hover{
  width: 30%;
}

.HouseLink:link, .HouseLink:visited{
  text-decoration: none;
  color:#FFFFFF;
}

.floors{
  flex-direction: column;
  width: 25%;
  margin-left: 2em;
  margin-top: -6em;
}
.floorButton{
  flex-direction: column;
  width: 100%;
  height: 10%;
  margin-top: 2em;
  font-family: liu-bold;
  box-sizing: border-box;
  line-height: 3em;
}
.Selection *{
  display: inline;
  float: left;
  margin: auto;
  vertical-align: middle;
}
.Selection{
  display: flex;
  margin: 0em 2em 0em 2em;
}
.SearchBar{
  margin: auto;
}

#homeInput{
  background-image: url('../images/TempSearchDark.png');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px;
}

.houseFloorFloorSelect{
  border: 8px solid white;
  border-radius: 0.5em;
}

.topBar{
  display: flex;
  margin: 1em 2em;
  justify-content: space-between;
  align-items: center;
}
.CloseImg{
  display: inline;
  height: 2em;
}
.searchResults{
  overflow-y: scroll;
  height: 87vh;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media only screen and (max-height: 1200px) {
  .searchResults{
    height: 85vh;
  }
}
@media only screen and (max-height: 1100px) {
  .searchResults{
    height: 82vh;
  }
}
@media only screen and (max-height: 1000px) {
  .searchResults{
    height: 80vh;
  }
}
@media only screen and (max-height: 900px) {
  .searchResults{
    height: 77vh;
  }
}
@media only screen and (max-height: 800px) {
  .searchResults{
    height: 76vh;
  }
  .LogoTextBox{
    margin-top: 30%;
  }
}
@media only screen and (max-height: 700px) {
  .searchResults{
    height: 73vh;
  }
  .LogoTextBox{
    margin-top: 15%;
  }
  .houseChoice{
    margin-bottom: 3em;
  }
}
@media only screen and (max-height: 600px) {
  .searchResults{
    height: 69vh;
  }
  .LogoTextBox{
    margin-top: 10%;
  }
  .houseChoice{
    margin-bottom: 2em;
  }
}


.resultLink:link, .resultLink:visited{
  text-decoration: none;
  color:black;
}
.resultLink:hover, .resultLink:active{
  color: #ababab;
}
.singleSearchResult{
  list-style-type: none;
  background: #CCF0FA;
  padding: 0.5em;
  padding-left: 2vw;
}

/*
.searchResults > div:nth-child(odd) > a > li {
  background: #CCF0FA;
}
*/

#showMenu{
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: #C7E9F2;
  padding: -0.5em;
  width: 100%;
}
#searchResultsArrow{
  -webkit-transform:rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-right: 16px;
  align-self: center;
  width: 6vw;
  filter: invert(0.5);
}
#selectedRoom{
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: #C7E9F2;
  padding: 1em;
  border-radius: 10px 10px 0px 0px;
}
.filterButton{
  width: 2em; 
  height: 2em; 
  margin-left: 0.5em; 
  vertical-align: middle;
  background-color: #CCF0FA;
  padding: 0.3em;
  border-radius: 0.5em;
  filter: drop-shadow(1px 2px 3px black);
}
#filterSettings{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 80%;
  padding: 1em;
  border: #0f1010 solid 1px;
  border-radius: 25px;
  background-color: #FFFFFF;
}
#grayOverlay{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  background-color: gray;
  opacity: 0.5;
}
.selectInput{
  width: 100%;
  padding: 0.8em;
  border-radius: 10px;
}
.filterSettingsContent{
  border-spacing: 1em 0.5em;
}

.optionImage{
  width: 2.5em;
  height: 2.5em;
  vertical-align: middle;
  margin-left: 0.5em;
}

.mapButton img {
  width: 3em;
  vertical-align: middle;
}
.mapButton{
  background-color: #00B3E7;
  border-radius: 100px;
  padding: 1em;
  margin: 1em;
  box-shadow: 1px 2px 5px black;
}
.map{
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
}
.mapButtonCol1{
  float: left;
}
.mapButtonCol2{
  float: right;
}
#FilterOptions{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 80%;
  padding: 1em;
  border: #0f1010 solid 1px;
  border-radius: 25px;
  background-color: #FFFFFF;
}
.selectedOptions{
  background-color: #3DD2DC;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px 5px 5px;; 
  align-items: center;
  display: flex;
}
/*
#mapFloorSelection{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 80%;
  padding: 1em;
  border: #0f1010 solid 1px;
  border-radius: 25px;
  background-color: #FFFFFF;
}
*/

#mapFilterOptions {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 80%;
    padding: 1em;
    border: #0f1010 solid 1px;
    border-radius: 25px;
    background-color: #FFFFFF;

}
#grayMapOverlay{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  background-color: gray;
  opacity: 0.5;
}
.whitePart{
  position: absolute;
  bottom: 25%;
  left: 78%;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 1em;
  width: 8vw;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.whitePartFloorSelect{
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-top: 9.5em;
  padding: 1em;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.floorNumber{
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-family: liu-bold;
  align-self: center;
}

#bluePart {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #00B3E7;
  border-radius: 25px 0px 0px 25px;
  font-size: 1.3em;
  padding: 17px;
  width: 150px;
  height: 1.5em; 
  text-align: center;
  transform: translate(0%, -20%);
  color: #FFFFFF;
}

.linkCSS {
  display: flex;
  text-decoration: none;
  align-items: center;
  color:black;
}
.linkCSS:visited{
  text-decoration: none;
  color:black;
}
#realNrFloor{
  margin: 0px;
  color: #FFFFFF;
}
#realNrDiv{
  position: absolute;
  font-size: 1.5em;
  transform: translate(1px, -2px);
}
.stepDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.arrowDiv{
  background: lightgrey;
  display: flex;
  width: 7vw;
  height: 7vw;
  border-radius: 56px;
  justify-content: center;
}

.selectedRoomTransitionUp {
  animation: slideUp .4s forwards;
  animation-timing-function: cubic-bezier(.42,0,.58,1); 
}

.selectedRoomTransitionDown {
  animation: slideDown .4s forwards;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
}

.arrowTransitionUp {
  animation: RotateUp .4s forwards;
  animation-timing-function: cubic-bezier(.42,0,.58,1); 
}

.arrowTransitionDown {
  animation: RotateDown .4s forwards;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
}

.mapTransitionUp {
  animation: StretchUp .4s forwards;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
}

.mapTransitionDown {
  animation: StretchDown .4s forwards;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
}


@keyframes slideUp {
  0% {
    transform: translate(0%, 80%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 80%);
  }
}

@keyframes RotateUp{
    0%{
      transform: rotate(-180deg);
    }
    100%{
      transform: rotate(0deg);
    }
}

@keyframes RotateDown{
   0%{
    transform: rotate(0deg);
    }
    100%{
      transform: rotate(-180deg);
    }
}

@keyframes StretchDown {
  0%{
    height: 45vh;
  }
  100%{
    height: 80vh;
  }
}

@keyframes StretchUp {
  0%{
    height: 80vh;
  }
  100%{
    height: 45vh;
  }
}


/* ===== SVG VIEW ===== */
.svg-view, #svg-root {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#svg-root > svg {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  background-color: #e3f9ff;
  user-select: none;
}

.map {
  pointer-events: none;
}

.map > * {
  pointer-events: all;
}
/* ===== SVG VIEW ===== */